body {
  width: 800px;
  margin: 20px auto;
}

#game {
  width: 600px;
  height: 600px;
  margin: 0 auto;
}

#image {
  width: inherit;
  height: inherit;
  display: none;
}

#container {
  position: absolute;
  width: inherit;
  height: inherit;
  display: grid;
  gap: 0;
  box-sizing: border-box;
}

.square {
  background-color: black;
  color: white;
  font-size: 24px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}